{{ define "container-class" }}article-page with-toolbar{{ end }}
{{ define "main" }}
    <div id="article-toolbar">
        <a href="{{ .Site.BaseURL }}" class="back-home">
            {{ (resources.Get "icons/back.svg").Content | safeHTML }}
            <span>Back</span>
        </a>
    </div>

    {{ partial "article/article.html" . }}

    {{ partial "article/components/related-contents" . }}

    {{ if or (not (isset .Params "comments")) (eq .Params.comments "true")}}
        {{ partial "comments/include" . }}
    {{ end }}

    {{ partialCached "footer/footer" . }}

    {{- partialCached "article/components/photoswipe.html" . -}}
{{ end }}
