<div id="post-nav">
  {% if page.previous.url %}
  <div id="previous-post" class="post-nav-post">
      <p>{{ site.theme_settings.str_previous_post }}</p>
      <a href="{{ site.baseurl }}{{ page.previous.url }}">
        &lt;
        {{ page.previous.title }}
      </a>
  </div>
  {% endif %}
  {% if page.next.url %}
  <div id="next-post" class="post-nav-post">
      <p>{{ site.theme_settings.str_next_post }}</p>
      <a href="{{ site.baseurl }}{{ page.next.url }}">
        {{ page.next.title }}
        &gt;
      </a>
  </div>
  {% endif %}
</div>
