<header class="article-header">
    {{- $image := partialCached "helper/image" (dict "Context" . "Type" "article") .RelPermalink "article" -}}
    {{ if (and $image.exists (not .Params.hideHeaderImage)) }}
        <div class="article-image">
            {{ if $image.resource }}
                {{- $tablet := $image.resource.Resize "1024x" -}}
                {{- $desktop := $image.resource.Resize "2000x" -}}

                <img srcset="{{ $tablet.RelPermalink }} 1024w, {{ $desktop.RelPermalink }} 2000w"
                    src="{{ $desktop.RelPermalink }}" width="{{ $image.resource.Width }}" height="{{ $image.resource.Height }}" loading="lazy"
                    alt="Featured image of post {{ .Title }}" />
            {{ else }}
                <img src="{{ $image.permalink }}" loading="lazy" alt="Featured image of post {{ .Title }}" />
            {{ end }}
        </div>
    {{ end }}

    {{ partialCached "article/components/details" . .RelPermalink }}
</header>
