---
layout: default
---
<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 class="title">{{ page.feature-title | default: page.title }}</h1>
    {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
    <p class="meta">
      {{ page.date | date: "%B %-d, %Y" }}
      {% if page.author %} - {{ page.author }}{% endif %}
    </p>
    {% if page.ref %}
    {% assign posts=site.posts | where:"ref", page.ref | sort: 'locale' %}
    {% if posts.size > 0 %}
      <p>
        This blog post is availabe in: 
        {% for post in posts %}
          <a href="{{ post.url }}" class="{{ post.lang }}">{{ post.locale }}</a>
        {% endfor %}
      </p>
    {% endif %}
    {% endif %}
  </header>
  <section class="post-content">{{ content }}</section>
  {% include tags_list.html tags=page.tags tag_count=page.tags.size %}
</article>

<!-- Post navigation -->
{% if site.theme_settings.post_navigation %}
  {% include post_nav.html %}
{% endif %}
